@font-face {
  font-family: 'fontello';
  src: url('../fonts/icon-font/fontello.eot?97255851');
  src: url('../fonts/icon-font/fontello.eot?97255851#iefix') format('embedded-opentype'),
  url('../fonts/icon-font/fontello.woff2?97255851') format('woff2'),
  url('../fonts/icon-font/fontello.woff?97255851') format('woff'),
  url('../fonts/icon-font/fontello.ttf?97255851') format('truetype'),
  url('../fonts/icon-font/fontello.svg?97255851#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?97255851#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-fb:before { content: '\e800'; } /* '' */
.icon-email:before { content: '\e801'; } /* '' */
.icon-map:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\e803'; } /* '' */
.icon-time:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e807'; } /* '' */
.icon-vk:before { content: '\e808'; } /* '' */
.icon-www:before { content: '\e809'; } /* '' */
.icon-youtube-symbol:before { content: '\e80a'; } /* '' */
.icon-pinterest:before { content: '\e80b'; } /* '' */
.icon-google-plus:before { content: '\e80c'; } /* '' */
.icon-logo:before { content: '\e80d'; } /* '' */
.icon-viber:before { content: '\e81e'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */