@import "_partials/reset";
@import "_partials/icon-font";
@import "_partials/fonts";
@import "_partials/swiper.css";

$main-color: #3f3531;
$accent-color: #db143c;

* {
  box-sizing: border-box;
}

button, input, select {
  outline: none;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  background-color: #f0f0f0;
  color: #3f3531;
  min-width: 760px;
  padding-top: 100px;
  overflow-x: hidden;
  &.video-open{
    overflow: hidden;
    padding-right: 18px;
    .content-wrap {
      filter: blur(20px);
      &:before {
        background: #fff;
        z-index: 100;
        pointer-events: auto;
      }
    }
    .main-header{
      opacity: 0;
    }
  }
  &.submenu-open {
    overflow: hidden;
    padding-right: 18px;
    .main-header {
      right: 18px;
    }
    .content-wrap {
      filter: blur(20px);
      &:before {
        background: #fff;
        z-index: 100;
        pointer-events: auto;
      }
    }
    .main-header nav > ul > li > a {
      visibility: hidden;
    }
    .main-header nav > ul > li > a.active {
      visibility: visible;
      &:after{
        content: '';
        transform: scale(1.5) translateX(-100%) rotate(135deg) translateY(-5px);
        border-bottom: 1px solid $main-color;
        border-left: 1px solid $main-color;
        opacity:1;
      }
    }
    .header-fixed{
      background: transparent;
      .lang_select a, nav>ul>li>a{
        color: $main-color;
      }

    }
  }
}

h1, h2 {
  font-weight: 900;
}

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.left-arrow {
  &:before {
    content: '\2190';
    width: 1em;
    margin: 0 5px;
  }
}

.left-arrow {
  &:before {
    content: '\2190';
    width: 1em;
    margin: 0 5px;
  }
}

.right-arrow {
  &:after {
    content: '\2192';
    width: 1em;
    margin: 0 5px;
  }
}
.hidden {
  display: none !important;
}
.btn {
  background: $accent-color;
  border: none;
  padding: 0 15px;
  line-height: 40px;
  height: 40px;
  min-width: 195px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  box-shadow: 12px 4px 16px 0 rgba($accent-color, .15);
  transition: background-color ease .3s, box-shadow ease .3s;
  &:hover {
    background-color: darken($accent-color, 5%);
    box-shadow: none;
  }
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  &.no-padding-right {
    padding-right: 0;
  }
}
.sub-menu.open{
  width:1170px;
}

.content-wrap {
  position: relative;
  transition: filter ease .3s;
  overflow: hidden;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .7;
    transition: background ease .3s;
    pointer-events: none;
  }
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 13px;
}

.main-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  nav {
    .menu{
      >li{
        >.sub-menu {
          display: none;
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          margin-top: 35px;
          z-index: 100;
          &.open {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .sub-menu{
              display: block;
            }
          }

          >li {
            width: 18%;
            padding: 0 20px;
            margin-bottom:30px;
            min-width: 200px;
            a {
              font-weight: 400;
              font-size: 20px;
              margin-bottom: 10px;
              letter-spacing: 0;
              display: block;
              color: $main-color;
            }
            > a{
              font-weight: 700;
              padding-bottom: 14px;
              margin-bottom: 14px;
              font-size: 24px;
              position: relative;
              &:after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 70px;
                background: #e3e3e3;
                height: 1px;
              }
            }
          }
        }
      }
    }
    .current-menu-item{
      >a{
        &:after{
          border-color: #000;
          opacity:1;
        }
      }
    }
    > ul {
      > li {
        display: inline-block;
        margin: 0 11px;
        font-weight: 700;
        letter-spacing: 3px;
        &:hover {
          &:after {
            border-color: $accent-color;
            border-width: 2px;
          }
        }
        > a {
          display: block;
          color: $main-color;
          position: relative;
          padding: 10px 0;
          transition: opacity ease .3s;
          &:after {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-left: 1px solid $main-color;
            border-bottom: 1px solid $main-color;
            opacity: 0.2;
            position: absolute;
            bottom: 0;
            left: 49%;
            transform: translateX(-50%) rotate(-45deg);
            transition: transform ease .3s;
          }
          &:hover{
            opacity:.7;
          }
        }
      }

    }
  }
  .logo {
    width: 125px;
  }

}

.header-fixed {
  background: #db143c;
  position: fixed;
  z-index: 101;
  transform: translateY(-100%);
  transition: background ease .3s;
  .header-wrap {
    padding-bottom: 13px;
  }
  nav >ul>li>a {
    color: #fff;
    &:after {
      border-color: #fff;
      opacity: .5;
    }
  }
  nav .current-menu-item>a:after{
    border-color: #fff;
    opacity:1;
  }
  .lang_select a {
    color: #fff;
  }
  .logo {
    width: 85px;
  }
}

.header-transition {
  transition: transform .5s ease;
}

.header-show {
  transform: translateY(0);
}

.lang_select {
  li {
    display: inline-block;
    margin: 0 7px;
  }
  a {
    font-weight: bold;
    color: $main-color;
    font-size: 12px;
    opacity: .3;
    transition: opacity ease .3s;
    &.lang_sel_sel {
      opacity: 1;
    }
    &:hover{
      opacity:.7;
    }
  }
}

.header-section-wrap {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.header-section {
  padding-bottom: 160px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: calc(100vh - 87px);
  display: flex;
  align-items: center;
}

.parallax-scene {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //z-index: 0;
  overflow: hidden;
}

.header-bg-layer-1 {
  background: url(../img/header-bg-layer1.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.header-bg-layer-2 {
  background: url(../img/header-bg-layer2.png) no-repeat center;

  background-size: contain;
  width: 100%;
  height: 100%;
}

.header-bg-layer-3 {
  background: url(../img/coffe_seed.png) no-repeat 5% 20%;
  background-size: 120px;
  width: 100%;
  height: 100%;
}

.header-title, .header-image {
  width: 50%;
}

.header-title {
  padding: 80px 20px 130px;
  text-align: right;
  h1 {
    font-size: 58px;
    line-height: 1.1;
    letter-spacing: 2px;
  }
  p {
    font-size: 20px;
    letter-spacing: .5px;
  }
}

.header-image {
  position: relative;
  z-index: 1;
  cursor: pointer;
  img {
    position: absolute;
    top: -75px;
    left: -137px;
  }
}

.scroll-down {
  text-align: center;
  width: 160px;
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  z-index: 5;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: $main-color;
  opacity:.5;
  p {
    margin-bottom: 20px;
  }
}

.scroll-btn-body {
  width: 22px;
  height: 40px;
  position: relative;
  border: 1px solid $main-color;
  border-radius: 30px;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: $main-color;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: calc(50% - 2.5px);
    animation: sdb10 1.5s infinite;
  }
}

@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scroll-btn-arrow {
  width: 15px;
  height: 15px;
  border-left: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
  margin: 0 auto;
  transform: rotate(-45deg);
  &:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-left: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
    transform: translate(-8px, 6px);
    opacity: .5;
  }
}

.statistics-section {
  background: url(../img/mint1.png) 10% 0 no-repeat,
  url(../img/coffee-cup3.png) 106% 0 no-repeat,
  url(../img/mint3.png) 83% 50% no-repeat,
  url(../img/coffee-cup4.png) -7% 112% no-repeat,
  url(../img/small-seed.png) 91% 80% no-repeat,
  url(../img/two-seeds2.png) 90% 100% no-repeat;
  h2 {
    font-size: 35px;
    text-align: center;
    margin: 30px 0 75px;
    letter-spacing: 2px;
  }
}

.statistics-block {
  display: flex;
  margin: 0 -15px;
  padding-bottom: 100px;
}

.statistics-item {
  width: 25%;
  margin: 0 15px;
  strong {
    display: block;
    position: relative;
    z-index: 1;
    padding-top: 25px;
    margin-bottom: 30px;
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    small {
      font-size: 50%;
    }
    .shadow_effect {
      position: absolute;
      top: 13px;
      left: -20px;
      right: -20px;
      z-index: -1;
      text-align: center;
      color: #fff;
      font-size: 80px;
      font-weight: 900;
      line-height: 36px;
      opacity: .5;
    }
  }
  p {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 0 20px;
  }
}

.statistics-image-wrap {
  background: #fff;
  box-shadow: 6px 4px 5px 0 rgba(0, 0, 0, .1);
  margin: 0 auto 50px;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 135px;
    max-height: 120px;
  }

}
.statistics-item{
  &:nth-child(1) {
    .statistics-image-wrap {
      width: 175px;
      height: 230px;
      transform: rotate(5deg);
    }
  }
  &:nth-child(2) {
    .statistics-image-wrap {
      width: 160px;
      height: 230px;
      transform: rotate(-6deg);
    }
  }
  &:nth-child(3) {
    .statistics-image-wrap {
      width: 185px;
      height: 230px;
      transform: rotate(5deg);
    }
  }
  &:nth-child(4) {
    .statistics-image-wrap {
      width: 185px;
      height: 230px;
      transform: rotate(-3deg);
    }
  }
  &:nth-child(5) {
    .statistics-image-wrap {
      width: 185px;
      height: 230px;
      transform: rotate(4deg);
    }
  }
  &:nth-child(6) {
    .statistics-image-wrap {
      width: 185px;
      height: 234px;
      transform: rotate(-6deg);
    }
  }
}

.shop-section {
  background: url(../img/two-seeds1.png) no-repeat 10% 30%,
  url(../img/big-seed.png) no-repeat 100% 100%;
}

.shop-block {
  display: flex;
  margin: 0 -15px;
  padding-top: 60px;
  padding-bottom: 100px;
  justify-content: center;
}

.shop-item {
  width: 265px;
  margin: 0 15px;
  margin-top: 80px;
  background: #fff;
  position: relative;
  padding: 130px 35px 65px;
  text-align: center;
  color: $main-color;
  transition: transform ease .3s, box-shadow ease .3s;
  &:hover {
    transform: rotate(-3deg);
    box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  }
  img {
    position: absolute;
    top: -38%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 110%;
    max-height: 100%;
  }
  strong {
    display: block;
    padding-bottom: 13px;
    font-size: 20px;
    position: relative;
    margin-bottom: 35px;
    &:after {
      content: '';
      display: block;
      width: 75px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      background: #e4e4e4;
      transform: translateX(-50%);
    }
  }

}

.shop-link {
  width: 22%;
  min-width: 265px;
  margin: 80px 15px 0;
  background: $accent-color;
  color: #fff;
  text-align: center;
  padding: 70px;
  box-shadow: 4px 10px 18px 0 rgba(226, 16, 76, .18);
  transition: background-color ease .3s, box-shadow ease .3s;
  &:hover {
    box-shadow: none;
    background-color: darken($accent-color, 5%);
  }
  strong {
    font-size: 20px;
    display: block;
    margin-top: 20px;
  }
}

.equipment-block {
  display: flex;
  padding: 0 70px;
}

.equipment-info {
  padding-right: 60px;
  max-width: 410px;
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 18px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
    &:before {
      color: $accent-color;
      font-size: 14px;
      margin-left:-2px;
      height: 18px;
      vertical-align: middle;
    }
  }
  p {
    margin-bottom: 25px;
    opacity: .7;
    line-height: 1.25;
  }
  .btn {
    margin-top: 15px;
  }
}

.equipment-image {
  flex-grow: 1;
  position: relative;
  z-index:1;
}

.equipment-image-wrap {
  background: #fff;
  height: 100%;
  z-index: 1;
  box-shadow: 12px 4px 25px 0 rgba(0, 0, 0, .15);
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
  }

}

.equipment-image-shadow {

  position: absolute;
  left: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: rotate(-2deg);
  z-index: -1;
  box-shadow: 12px 4px 8px 0 rgba(0, 0, 0, .15);
}

.equipment-section {
  padding: 135px 0;
  background: url(../img/coffe_seeds.png) no-repeat 80% 93%,
  url(../img/mint2.png) no-repeat 85% 0%,
  url(../img/two-seeds2.png) no-repeat 3% 75%;
}

.app-section {
  padding: 75px 0;
  background: url(../img/coffe_impress.png) no-repeat 0% -3%,
  url(../img/small-seed2.png) no-repeat 85% 0%,
  url(../img/small-seed.png) no-repeat 30% 10%,
  url(../img/small-seed.png) no-repeat 5% 80%;
}

.app-section-wrap {
  display: flex;
  justify-content: center;
}

.apple-block, .android-block {
  flex-grow: 1;
  .img-wrap {
    height: 510px;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  a {
    width: 190px;
    display: block;
    margin: 0 auto;
    transition: opacity ease .3s;
    img {
      width: 100%;
    }
    &:hover{
      opacity:.7;
    }
  }
}

.apple-block {
  img {
    left: 39%;
  }
}

.android-block {
  img {
    left: 70%;
  }
}

.app-block {
  max-width: 360px;
  flex-shrink: 0;
  text-align: center;
  h2 {
    font-size: 35px;
    margin-bottom: 38px;
    letter-spacing: 2px;
  }
  p {
    margin-bottom: 65px;
    line-height:1.2;
  }
}

.app-calback {
  background: #fff;
  box-shadow: 4px 10px 28px 0 rgba(0, 0, 0, .05);
  ul {
    padding: 50px 75px 20px;
    font-size: 14px;
    strong {
      color: $accent-color;
      font-weight: 900;
      font-size: 35px;
      display: block;
      margin-right: 30px;
      position: absolute;
      left: 5px;
      top: -13px;
    }
    li {
      padding-left: 50px;
      position: relative;
      margin-bottom: 30px;
    }
  }
  form {
    padding: 25px 25px 40px;
    box-shadow: inset 0px 16px 49px -12px rgba(0, 0, 0, .05);
    position: relative;
    strong {
      font-weight: 700;
      margin-bottom: 20px;
      display: block;
    }
    input {
      width: 100%;
      padding-left: 22px;
      background: #f0f0f0;
      border: none;
      border-radius: 3px;
      height: 40px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #cacaca;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #cacaca;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #cacaca;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: #cacaca;
    }
  }
  .btn {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

  }
}

.callback-block {
  padding: 40px 35px 60px;
  display: flex;
  position: relative;
  z-index: 1;
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #4d4d4d;
  }
  h2 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }
}

.dealer-block, .calback-form {
  background: #fff;
  margin-right: 30px;
  padding: 30px 30px 40px;
  width: 100%;
  max-width: 320px;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  input, select {
    width: 100%;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 20px;
  }
  textarea {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
    height: 120px;
    overflow: auto;
    resize: none;
  }
  select {
    background: url(../img/select_arrow.png) no-repeat 92% center #fff;
    margin-bottom: 25px;
    background-size: 10px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1) {
      background-image: url(../img/select_arrow@2x.png);
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min--moz-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1) {
      background-image: url(../img/select_arrow@3x.png);
    }
  }
}

.dealer-block {
  li {
    position: relative;
    margin-bottom: 17px;
    text-align: center;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      top: 50%;
      left: 45px;
      transform: translateY(-50%);
      color: $main-color;
      opacity: .5;
      font-size: 12px;
    }
    a {
      display: block;
      color: $main-color;
    }
  }
}

.calback-form {
  position: relative;
  .btn {
    background-color: #db143c;
    position: absolute;
    height: 40px;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    max-width: 195px;
    border-radius: 20px;
    &:hover {
      background-color: #c41236;
    }
  }
}

.rc-anchor.rc-anchor-normal.rc-anchor-light {
  max-width: 260px;
  width: 100%;
}


.callback-section {
  padding: 70px 0 100px;
  background-image: url(../img/coffe_seed.png);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}

footer {
  background: #e4e4e4;
  padding: 40px 0;
  position: relative;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  .logo {
    width: 85px;
    display: block;
    float: left;
    margin-top: -10px;
    margin-right: 30px;
    img {
      width: 100%;
    }
  }
  .social-link {
    a {
      color: #989898;
      display: block;
      text-align: right;
      margin-top: 5px;
      transition: color ease .3s;
      &:not(:last-child) {
        display: inline-block;
        font-size: 20px;
        margin-top: 0;
      }
      &:hover{
        color: $accent-color;
      }
    }
  }
  .copyright {
    display: inline-block;
    opacity:.6;
  }
}

// category
.header-category {
  text-align: center;
  padding: 165px 0 180px;
  position: relative;
  background-image: url("../img/right-hand.png"),
  url("../img/left-hand.png"),
  url("../img/cookie-img.png");
  background-repeat: no-repeat;
  background-position: -15% 85%,109% 85%,25% 100%;
  background-size: 650px,650px,11%;
  h1 {
    font-size: 58px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 500px;
    margin:0 auto 15px;
    line-height:1.2;
  }
  p {
    font-size: 17px;
    opacity: .5;
    margin: 0 auto 20px;
    max-width: 420px;
  }
}

.subcategories-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.subcategories-item {
  width: 46%;
  margin: 0 15px 30px;
  background: #fff;
  padding: 35px;
  padding-left: 25%;
  position: relative;
  min-height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $main-color;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  transition: box-shadow ease .3s;
  &:hover{
    box-shadow: none;
  }
  h3 {
    padding-bottom: 12px;
    margin-bottom: 12px;
    position: relative;
    font-size: 20px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 75px;
      height: 1px;
      background: #e4e4e4;
    }
  }
  p {
    opacity: .7;
  }
}

.subcategories-img-wrap {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  width:220px;
  height:220px;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.news-section {
  text-align: center;
  background-image: url('../img/cookie-img.png'), url('../img/seeds-coffe.png');
  background-repeat: no-repeat;
  background-position: 5% 50%, 100% 100%;
  padding-bottom: 50px;
  h2 {
    font-size: 35px;
    margin: 30px 0 50px;
    letter-spacing: 2px;
  }
}

.news-block {
  display: flex;
  justify-content: center;
  margin: 0 -15px;
}

.news-item {
  padding: 200px 8px 0;
  position: relative;
  width: 260px;
  margin: 0 15px;
  a {
    color: $accent-color;
  }
}

.news-img-wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 260px;
  overflow: hidden;
  cursor: pointer;
  &:hover{
    img{
      transform:scale(1.3) translate(-45%,-45%);;
    }
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    transition: transform ease 5s;
  }
}

.news-text-wrap {
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 25px 20px;
  height: 100%;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  >a{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    display: block;
    z-index:10;
  }
  .public-date {
    font-size: 14px;
    display: block;
    padding-bottom: 17px;
    margin-bottom: 14px;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 75px;
      height: 1px;
      background: #e4e4e4;
    }
  }
  p {
    line-height: 17px;
  }
}

.subcategories-section {
  background-image: url('../img/two-seeds1.png'),
  url('../img/two-seeds2.png'),
  url('../img/small-seed.png'),

  url('../img/seeds-coffe.png');
  background-repeat: no-repeat;
  background-position: 5% 10%, 90% 30%, 90% 20%, 15% 100%;
  margin-top:100px;
}

// category end

.gm-style-pbt {
  width: 38%;
  margin-left: auto;
}

//news page
.news-post-section {
  background-image: url(../img/two-seeds1.png),
  url(../img/two-seeds2.png),
  url(../img/coffe_seed.png),
  url(../img/big-seed.png),
  url(../img/two-seeds1.png),
  url(../img/two-seeds1.png),
  url(../img/two-seeds2.png);
  background-position: 10% 0, 100% 0, 5% 50%, 100% 30%, 10% 0, 98% 90%, 5% 100%;
  background-repeat: no-repeat;
}

.header-news {
  text-align: center;
  padding: 165px 0 180px;
  position: relative;
  background-image: url("../img/news-header-bg-3.png"),
  url("../img/news-header-bg-2.png");
  background-repeat: no-repeat;
  background-position: 0 50%, 100% 50%;
  background-size:contain;
  h1 {
    font-size: 58px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 500px;
    margin:0 auto 15px;
    line-height:1.2;
  }
  a {
    font-size: 17px;
    opacity: .5;
    color: $main-color;
  }
}

.news-post-block {
  display: flex;
}
.news-post {
  background: #fff;
  padding: 35px;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  position: relative;
  max-width: 850px;
  width:100%;
  .size-auto{
    width:auto;
  }
  .height-auto {
    height: auto;
  }
  h2 {
    font-size: 35px;
    max-width: 25ch;
    letter-spacing: 2px;
    margin-bottom: 20px;
    @media screen and (max-width: 992px) {
      font-size: 28px;
    }
  }
  img {
    width: 100%;
    display: block;
    margin: 35px 0;
  }
  p, ul, ol {
    margin-bottom:15px;
    line-height:1.4
  }
  nav {
    position: absolute;
    top: -40px;
    right: 0;
    a {
      padding: 0 10px;
      color: $main-color;
    }
  }
  .text-block {
    font-size: 16px;
    a {
      color: #3f3531;
      font-weight: 500;
      &:hover {
        text-decoration: underline;
      }
      &:visited, :active {
        font-weight: 700;
      }
    }
    strong {
      font-weight:bold;
    }
    em {
      font-style: italic;
    }
    blockquote {
      margin:0 40px;
    }
    ol {
      list-style-type:decimal;
    }
    ul {
      list-style-type:initial;
      li {
        margin-left:25px;
      }
    }
  }
}


.news-sidebar {
  flex-shrink: 0;
  margin-left: 15px;
  width: 290px;
  padding: 0 15px;
  background-color: #f0f0f0;
  label {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
  }
  input, select {
    width: 100%;
    background-color: #efefef;
    border: 1px solid rgba($main-color, .1);
    padding-left: 15px;
    padding-right: 30px;
    height: 35px;
    margin-bottom: 25px;
  }
  input[type=submit]{
    position: absolute;
    top:5px;
    right: 10px;
    width:25px;
    height:25px;
    font-size: 0;
    color: transparent;
    background: url(../img/search_icon.png) no-repeat 95% 50%;
    background-size:contain;
    border:none;
    cursor: pointer;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1) {
      background-image: url(../img/search_icon@2x.png);
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min--moz-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1) {
      background-image: url(../img/search_icon@3x.png);
    }
  }
  select {
    background: url(../img/select_arrow.png) no-repeat 92% center;
    margin-bottom: 25px;
    background-size: 10px;
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1) {
      background-image: url(../img/select_arrow@2x.png);
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min--moz-device-pixel-ratio: 3),
    only screen and (-o-min-device-pixel-ratio: 3/1) {
      background-image: url(../img/select_arrow@3x.png);
    }
  }
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .social-link {
    a {
      font-size: 35px;
      color: #b3b3b3;
      display: inline-block;
      width: 40px;
      transition: color ease .3s;
      &:hover{
        color: $accent-color;
      }
      &:before{
        margin:0;
      }

    }
  }
  form >div{
    position: relative;
  }
}

.swiper-scroll-container {
  overflow: hidden;
  position: relative;
  max-height: 830px;
  padding-right: 20px;
  margin-bottom: 30px;
  a {
    display: block;
    margin-bottom: 40px;
    color: $main-color;
  }
}
.swiper-button-disabled{
  display: none;
}
.swiper-scrollbar-drag {
  background: #fff;
  width: 13px;
  border-radius: 30px;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  margin-left: -5px;
  cursor: pointer;
}

.facebook-block {
  margin-bottom: 30px;
}

.gallery-top {
  width: 100%;
  height: 400px;
  @media screen and (max-width: 992px) {
    height: 250px;
  }
  .swiper-slide {
    width: 100%;
    background-size:cover;
  }
}

.gallery-thumbs {
  height: 70px;
  margin: 5px 0;
  @media screen and (max-width: 992px) {
    height: 50px;
  }
  .swiper-slide {
    width: 20%;
    background-size: cover;
  }
}

.gallery-block {
  margin: 30px 0;
}

.gallery-button-next, .gallery-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 75px;
  z-index: 100;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%) rotate(45deg);
    background: #fff;
  }
  span {
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #4d4d4d;
    border-top: 1px solid #4d4d4d;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.gallery-button-next {
  right: 0;
  &:before {
    right: -25px;
    left: auto;
  }
  span {
    transform: translate(-50%, -50%) rotate(135deg);
    left: 65%;
  }
}

//news page end

//subcategory page
.header-subcategory {
  text-align: center;
  padding: 165px 0 180px;
  position: relative;
  background-image: url("../img/subcategory-header-bg-1.png"),
  url("../img/subcategory-header-bg-3.png");
  background-repeat: no-repeat;
  background-position: 0 20%, 100% 10%;
  background-size: 28%,26%;
  h1 {
    font-size: 58px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 500px;
    margin:0 auto 15px;
    line-height:1.2;
  }
  a {
    font-size: 17px;
    opacity: .5;
    color: $main-color;
  }
  p {
    font-size: 17px;
    opacity: .5;
    margin: 0 auto 20px;
    max-width: 420px;
  }
  .btn {
    display: block;
    margin: 30px auto 0;
    opacity: 1;
    color: #fff;
    max-width: 160px;
  }
}

.products-block {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
  .product-item {
    margin: 50px 15px 45px;
    background: #fff;
    width: 262px;
    min-height: 239px;
    color: $main-color;
    box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
    padding-top: 170px;
    position: relative;
    transition: box-shadow ease .3s;
    p {
      padding: 25px;
      text-align: center;
      font-size: 20px;
    }
    &:hover{
      box-shadow: none;
    }
  }
  .product-item-img {
    margin-top: -50px;
    overflow: hidden;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 70px;
    img {
      max-width: 100%;
      width: auto;
      height: auto;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

.subcategory-page {
  margin: 0 -15px;
  position: relative;
  &:after{
    content: '';
    display: block;
    width:200px;
    height:200px;
    background: url(../img/mint2.png) no-repeat center;
    background-size:contain;
    position: absolute;
    top: -20%;
    right: -7%;
    pointer-events: none;
  }
  .subcategories-item {
    width: 360px;
    padding: 265px 50px 50px;
    text-align: center;
    h3 {
      &:after {
        left: 50%;
        transform: translateX(-50%);
      }
    }

  }
  .subcategories-img-wrap {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
  }
}

.subcategories-product-section {
  padding: 15px 0 65px;
}

//end subcategory page

//product page
.product-section{
  background-image: url(../img/cookie-img.png),
  url(../img/coffe_seed.png),
  url(../img/coffe-cup1.png),
  url(../img/small-seed2.png),
  url(../img/big-seed.png),
  url(../img/small-seed2.png);
  background-repeat:no-repeat;
  background-position: -2% 7%,1% 75%,106% 50%,7% 95%,92% 20%,95% 70%;
  background-size: 10%, 7%, 13%,3%, 5%, 4%;
}
.header-product {
  min-height: 430px;
  padding: 65px 0;
  text-align: center;
  background-position: right;
  background-size:  cover;
  a {
    display: inline-block;
    margin: 0 15px;
    &:not(.btn) {
      color: $main-color;
      font-size: 17px;
    }
  }
  .left-arrow {
    background: #fff;
    border: none;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    min-width: 195px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    box-shadow: 12px 4px 16px 0 rgba(0,0,0, .15);
    transition: background-color ease .3s, box-shadow ease .3s;
    &:hover {
      background-color: #f0f0f0;
      box-shadow: none;
    }
    &:before {
      content: '\2190';
      width: 1em;
      margin: 0 9px 0 -20px;
    }
  }

}

.product-name-wrap {
  display: flex;
  padding: 25px 0;
}

.main-product-image {
  width: 360px;
  height: 330px;
  background: #fff;
  margin-top: -265px;
  position: relative;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  .product-image-wrap {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    img{
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}

.product-name {
  margin-left: 80px;
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 35px;
  }
}

.product-info-text {
  max-width: 420px;
  width: 40%;
  float: left;

}
.products-section{
  background-image: url(../img/seeds-coffe.png), url(../img/mint3.png);
  background-position: 10% 70%, 90% 30%;
  background-repeat: no-repeat;
}

.product-info-block{
  margin: 50px auto;
  font-size: 16px;
  img{
    max-width:100%;
  }
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  a {
    color: #3f3531;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
    &:visited, :active {
      font-weight: 700;
    }
  }
  p {
    margin-bottom: 16px;
    line-height: 1.2;
  }
  strong {
    font-weight: 700;
  }
  em{
    font-style:italic;
  }
  blockquote{
    margin:0 40px;
  }
  ol{
    list-style-type:decimal;
  }
  ul{
    list-style-type:initial;
    line-height: 1.2;
    li{
      margin-left:25px;
    }
  }
  .product-column {
    display: flex;
    justify-content: space-around;
  }
  .accessories-block {
    display: inline-block;
    padding: 0 15px;
    width: 24%;
    vertical-align: top;
    h5 {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
.product-specifications {
  width: 60%;
  margin-left: 30px;
  float: left;
  td {
    padding: 7px;
  }
}
//end product page

//contacts page

.header-contacts {
  background-image: url(../img/news-header-bg-3.png), url(../img/contacts-header-bg-4.png);
  background-position: -10% 50%, 100% 50%;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  img {
    max-width: 750px;
  }
}

.contact-info {
  background: #fff;
  width: 360px;
  padding: 30px 25px;
  box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
  flex-shrink: 0;
  li {
    padding-left: 40px;
    position: relative;
    font-size: 14px;
    margin-bottom: 15px;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      opacity: .5;
    }
  }
  p{
    margin-bottom:3px;
    line-height: 1.3;
  }
  strong {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.callback-block {
  .contact-info {
    margin-right: 35px;
  }
}

.contact-block {
  display: flex;
  margin-bottom: 80px;
  align-items: center;
  justify-content: space-between;

}

.contact-img {
  flex-grow: 1;
  width:100%;
  position: relative;
  height:420px;
  margin-right: 30px;
  overflow: hidden;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
  }
  &.swiper-slide{
    margin:0;
  }
}

.contact-gallery {
  .contact-slider {
    order: 1;
    margin-left:30px;
  }
}

.contact-slider {
  overflow: hidden;
  position: relative;
  width: 750px;
  height: 420px;
}

//end contacts page

//services page
.header-services {
  text-align: center;
  padding: 165px 0 180px;
  position: relative;
  background-image: url(../img/services-header-bg-1.png), url(../img/services-header-bg-2.png);
  background-position: 0 50%, 100% 50%;
  background-repeat: no-repeat;
  margin-bottom:100px;
  background-size:contain;
  h1 {
    font-size: 58px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 500px;
    margin:0 auto 15px;
    line-height:1.2;
  }
  a {
    font-size: 17px;
    opacity: .5;
    color: #3f3531;
  }
}

.services-section {
  .statistics-block {
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0;
  }
  .statistics-item {
    width: 22%;
    margin-bottom: 50px;
    color: $main-color;
    min-width: 260px;
    strong {
      font-size: 30px;
    }
    .shadow_effect {
      font-size: 33px;
    }
    .statistics-image-wrap{
      transition: transform ease .3s, box-shadow ease .3s
    }
    &:hover{
      .statistics-image-wrap{
        transform: none;
        box-shadow: none;
      }
    }
  }
  .statistics-image-wrap {
    margin-bottom: 20px;
    height: 230px;
  }
}
.services-section{
  background-image: url(../img/coffee-cup3.png),
  url(../img/coffee-cup4.png),
  url(../img/big-seed.png),
  url(../img/mint1.png),
  url(../img/two-seeds2.png);
  background-repeat:no-repeat;
  background-position: 105% 50%, -2% 90%, 0% 40%, 80% 20%, 100% 95%;
}
//end services page

//tasting page

.header-tasting {
  text-align: center;
  padding: 165px 0 180px;
  position: relative;
  background-image: url(../img/tasting-header-bg-1.png), url(../img/tasting-header-bg-2.png);
  background-position: 0 50%, 100% 50%;
  background-repeat: no-repeat;
  background-size:contain;
  h1 {
    font-size: 58px;
    letter-spacing: 3px;
    text-transform: uppercase;
    max-width: 500px;
    margin:0 auto 15px;
    line-height:1.2;
  }
  a {
    font-size: 17px;
    opacity: .5;
    color: #3f3531;
  }
}
.tasting-info {
  width:100%;
  min-height:700px;
  margin: 50px 0 100px;
  font-size: 16px;
  a {
    color: #3f3531;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
    &:visited, :active {
      font-weight: 700;
    }
  }
  p {
    margin-bottom: 15px;
    line-height: 1.4
  }
  strong{
    font-weight:bold;
  }
  em{
    font-style:italic;
  }
  blockquote{
    margin:0 40px;
  }
  ol{
    list-style-type:decimal;
  }
  ul{
    list-style-type:initial;
    line-height: 1.4;
    li{
      margin-left:25px;
    }
  }
}

//end tasting page
.gm-style-mtc{
  display: none;
}

.popup-video{
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:100;
  display: none;
  .video-wrap{
    display: block;
    margin:100px auto;
    position: relative;
    padding-top:45.25%;
    width:100%;
    max-width: 1170px;
    @media screen and (min-width: 1440px) {
      padding-top: 34.25%;
    }
    @media screen and (max-width: 1199px) {
      max-width: 1000px;
      padding-top:56.25%;
    }
    @media screen and (max-width: 992px) {
      max-width: 750px;
    }
  }
  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
  }
}

.section-404{
  text-align: center;
  height: calc(95vh - 88px);
  background: url(../img/cookie-img.png) no-repeat 10% 80%;
  display: flex;
  align-items: center;
  h1{
    font-size:35px;
  }
  .container{
    max-width: 750px;
  }
  a{
    color: $main-color;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}
.main-404{
  position: relative;
  &:after{
    content: '';
    display: block;
    width: 130px;
    height:130px;
    position: absolute;
    top:0;
    right:11px;
    background: url(../img/mint1.png) no-repeat center;
  }
  span{
    font-size:266px;
    font-weight:900;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    margin-top:-72px;
  }
  img{
    vertical-align: middle;
    font-size:266px;
    font-weight:900;
    color: #fff;
    margin-right: -70px;
  }

}
.info-404{
  strong{
    font-size: 21px;
    font-weight:700;
    display: inline-block;
    margin-bottom: 20px;
  }
  ul{
    font-size: 21px;
  }
  li{
    margin-bottom:20px;
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: #fefefe;
  margin: auto;
  padding: 50px 20px;
  padding-left:120px;
  border: 1px solid #888;
  width:100%;
  max-width: 420px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-size:21px;
  font-weight:700;
  img{
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    left: -31px;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:50%; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:50%; opacity:1}
}

/* The Close Button */
.close {
  position: absolute;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  display: block;
  width:40px;
  height:40px;
  line-height:38px;
  border-radius: 50%;
  background: $accent-color;
  top:-20px;
  text-align: center;
  right:-20px;
  &:hover{
    background: darken($accent-color, 5%);
    color: #fff;
    cursor: pointer;
  }
}
.news-all-posts{
  max-width: 850px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  position: relative;
  .show-more{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    color: $main-color;
    &:hover{
      text-decoration: underline;
    }
  }
  .news-item{
    margin: 0 10px 30px;
  }
}

#contact_form_in_post input[type="text"], #contact_form_in_post input[type="tel"], #contact_form_in_post input[type="email"] {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 5px;

}

textarea[name="textarea-185"] {
  width: 100% !important;
  margin-top: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 20px;
  padding: 10px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#form_send input{
  background:#db143c;
  border:none;
  padding:0 15px;
  margin: 10px 5px;
  line-height:40px;
  height:40px;
  min-width:195px;
  border-radius:30px;
  color:#fff;
  font-weight:600;
  cursor:pointer;
  display:inline-block;
  text-align:center;
  box-shadow:12px 4px 16px 0 rgba(219,20,60,.15);
  transition:background-color ease .3s,box-shadow ease .3s}

#form_send input:hover{background-color:#c41236;box-shadow:none}.container{max-width:1170px;width:100%;margin:0 auto;padding-left:15px;padding-right:15px}

.news-section {
  padding-bottom: 0;
  .category-description {
    background-color: #ffffff;
    color: $main-color;
    margin: 60px auto 0;
    box-shadow: 4px 10px 14px 0 rgba(0, 0, 0, .05);
    padding: 35px;
    text-align: left;
    line-height: 1.15;
    strong {
      font-weight: 700;
    }
    ol {
      padding-left: 17px;
      list-style: decimal;
    }
    ul {
      padding-left: 17px;
      list-style: disc;
    }
    span {
      text-decoration: underline;
    }
    em {
      font-style: italic;
    }

    h1 {
      font-size: 58px;
      font-weight: normal;
    }

    h2 {
      font-size: 46px;
      font-weight: normal;
      margin: 0;
      letter-spacing: normal;
    }
    h3 {
      font-size: 36px;
    }
    h4 {
      font-size: 28px;
    }
    h5 {
      font-size: 24px;
    }
    h6 {
      font-size: 20px;
    }
  }
}

.wpcf7-form-control-wrap {
  max-width: 260px;
  overflow: hidden;
}

@import "_partials/media";